{% extends 'base.html.twig' %}

{% block title %}Demande de mot de passe{% endblock %}

{% block body %}
<main class="login_signup">
    <div class="close_btn">
        <a href="{{path('app_login')}}" class="material-icons">arrow_back</a>
    </div>
    <div class="element_container">
        <div class="title_form">
            <h2>Mot de passe oublié</h2>
        </div>
    </div>
    <div class="explication_form">
        <p>Veuillez rentrer votre adresse mail. Vous recevrez un mail permettant de réinitialiser votre mot de passe.</p>
    </div>
    {# Formulaire de demande de récup mdp #}
    {{form_start(resetRequestForm)}}
        {{form_row(resetRequestForm.email)}}
        {{form_row(resetRequestForm.submit)}}
    {{form_end(resetRequestForm)}}
</main>
{% endblock %}
