{% extends 'base.html.twig' %}

{% block title %}Réinitialisation du mot de passe{% endblock %}

{% block header %}{% endblock %}

{% block body %}
<main class="login_signup">
    <div class="element_container">
        <div class="title_form">
            <h2>Nouveau mot de passe</h2>
        </div>
    </div>
    {# Formulaire de demande de récup mdp #}
    {{form_start(resetForm)}}
		<div class="form_group first_recup_password">
			{{form_label(resetForm.password.first)}}
			{{form_widget(resetForm.password.first)}}
			{{form_errors(resetForm.password.first)}}
		</div>
		<div class="password_rules">
			<p>Le mot de passe doit contenir au moins :</p>
			<ul>
				<li><p>8 caractères</p></li>
				<li><p>1 majuscule</p></li>
				<li><p>1 chiffre</p></li>
				<li><p>1 caractère spécial (&@!?*...)</p></li>
			</ul>
		</div>
		<div class="form_group second_recup_password">
			{{form_label(resetForm.password.second)}}
			{{form_widget(resetForm.password.second)}}
			{{form_errors(resetForm.password.second)}}
		</div>
    {{form_end(resetForm)}}
</main>
{% endblock %}