{% extends 'base.html.twig' %}

{% block title %}Profil de{% endblock %}

{% block body %}
<section class="user_profile">
    <div class="background_size max-w-site">
        <div class="profile_hero">
            <div class="follow">
                <p>{{followersCount}} abonné.es | {{followsCount}} abonnements</p>
                {% if app.user is not same as user %}
                    <button class="subscribe-button" data-user-id="{{ user.id }}" data-subscribed="{{ isSubscribed ? 'true' : 'false' }}">
                        {{ isSubscribed ? 'Se désabonner' : 'S’abonner' }}
                    </button>
                {% endif %}
            </div>
            <div class="title_profile">
                <h2>{{user.username}}</h2>   
                <div class="description">                
                    {% if user.description is not empty %}
                        <p>{{user.description|nl2br}}</p>
                    {% endif %}                 
                </div>    
            </div>
        </div>
        {# {% for collection in collections %}
            <a href="">
                <div class="collection_container">
                    <p>{{ collection.name }}</p>
                </div>
            </a>
        {% endfor %} #}
        <div class="user_haiku">
            <div class="title">
                <h2>Les Haïkus de {{user.username}}</h2>
                <p>{{totalHaikus}} haïkus</p>
            </div>
            {% if haikus is not empty %}            
                {% for haiku in haikus %}
                    <div class="haiku">
                        <div class="content">
                            <p>{{haiku.line1}}</p>
                            <p>{{haiku.line2}}</p>
                            <p>{{haiku.line3}}</p>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p>Pas encore de haïku publié par cet utilisateur</p>
            {% endif %}
                
            <div class="cta">
                <a href="">Lire le recueil</a>
            </div>
        </div>
    </div>
</section>    
    
{% endblock %}
