{% extends 'base.html.twig' %}

{% block title %}Profil de{% endblock %}

{% block body %}
<section class="user_profile">
    <div class="background_size max-w-site">
        <div class="profile_hero">
            <div class="follow">
                <p>{{followersCount}} abonné.es | {{followsCount}} abonnements</p>
                <div class="follow_btn">
                    <button class="subscribe-button" data-user-id="{{ user.id }}" data-subscribed="{{ isSubscribed ? 'true' : 'false' }}">
                        {{ isSubscribed ? 'Se désabonner' : 'S’abonner' }}
                    </button>
                </div>
            </div>
            <div class="title">
                <h2>{{user.username}}</h2>        
                <p>Description de sa page à faire (gérer controller)</p>
            </div>
        </div>
        {# {% for collection in collections %}
            <a href="">
                <div class="collection_container">
                    <p>{{ collection.name }}</p>
                </div>
            </a>
        {% endfor %} #}
        <div class="user_haiku">
            <div class="title">
                <h2>Mes Haïkus</h2>
                <p>{{haikus|length}} haïkus</p>
            </div>
            {% if haikus is not empty %}            
                {% for haiku in haikus %}
                    <div class="haiku">
                        <div class="content">
                            <p>{{haiku.content}}</p>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p>Pas encore de haïku publié par cet utilisateur</p>
            {% endif %}
                
            <div class="cta">
                <a href="">Lire mon recueil</a>
            </div>
        </div>
    </div>
</section>    
    
{% endblock %}
