{% extends 'base.html.twig' %}

{% block title %}Mon profil{% endblock %}

{% block body %}
<section class="user_profile">
    <div class="background_size max-w-site">
        <div class="profile_hero">
            <div class="follow">
                <p>{{followersCount}} abonné.es | {{followsCount}} abonnements</p>
            </div>
            <div class="title">
                <h2>{{app.user.username}}</h2>   
                <div class="description">     
                    <p>{{app.user.description|nl2br}}</p>
                    <a href="{{path('app_add_description')}}">
                        <span class="material-icons">edit</span>
                    </a>
                </div
            </div>

        </div>
        {# {% for collection in collections %}
            <a href="">
                <div class="collection_container">
                    <p>{{ collection.name }}</p>
                </div>
            </a>
        {% endfor %} #}
        <div class="user_haiku">
            <div class="title">
                <h2>Mes Haïkus</h2>
                <p>{{totalHaikus}} haïkus</p>
            </div>
            {% for haiku in haikus %}
                <div class="haiku">
                    <div class="content">
                        <p>{{haiku.content}}</p>
                    </div>
                </div>
            {% endfor %}
            <div class="cta">
                <a href="">Lire mon recueil</a>
            </div>
        </div>        
        {% if haikuLikedByUser is not empty %}
            <div class="user_likes">
                <div class="title">
                    <h2>Les haïkus qui m'ont marqué</h2>
                </div>
                {% for haikuLikedByUser in haikuLikedByUser %}
                    <div class="haiku">
                        {# ABSOLUTE #}
                        <span class="material-icons">more_horiz</span>
                        <div class="control_panel">
                        </div>
                        <div class="creator">
                            <p>{{haikuLikedByUser.creator}}</p>
                        </div>
                        <div class="content">
                            <p>{{haikuLikedByUser.content}}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
</section>    
{% endblock %}
