{% extends 'base.html.twig' %}

{% block title %}Mon profil{% endblock %}

{% block body %}
<section class="user_profile">
    <div class="background_size max-w-site">
        <div class="profile_hero">
            <div class="follow">
                <p>{{followersCount}} abonné.es | {{followsCount}} abonnements</p>
            </div>
            <div class="title_profile">
                <h2>{{app.user.username}}</h2>   
                <div class="description">  
                    {% if app.user.description is not empty %}
                        <p>{{app.user.description|nl2br}}</p>
                        <a href="{{path('app_add_description')}}">
                            <span class="material-icons">edit</span>
                        </a>
                    {% else %}
                    <div class="cta_description">
                        <a href="{{path('app_add_description')}}">Ajouter une description</a>                    
                    </div>
                    {% endif %}                       
                </div>
            </div>
        </div>
        {# {% for collection in collections %}
            <a href="">
                <div class="collection_container">
                    <p>{{ collection.name }}</p>
                </div>
            </a>
        {% endfor %} #}
        {% if haikus is not empty %}        
            <div class="user_haiku">
                <div class="title">
                    <h2>Mes Haïkus</h2>
                    <p>{{totalHaikus}} haïkus</p>
                </div>
                {% for haiku in haikus %}
                    <div class="content" id="haiku-{{haiku.id}}">
                        <p>{{haiku.line1}}</p>
                        <p>{{haiku.line2}}</p>
                        <p>{{haiku.line3}}</p>
                    </div>
                {% endfor %}
                <div class="cta">
                    <a href="{{path('app_user_haikus', {'userId': app.user.id})}}">Lire mon recueil</a>
                </div>
            </div>        
        {% else %}
            <div class="cta_description">
                <a href="{{path('app_create_haiku')}}">Ecrivez votre premier Haïku</a>
            </div>
        {% endif %}
        {% if haikuLikedByUser is not empty %}
            <div class="user_likes">
                <div class="title">
                    <h2>Les haïkus qui m'ont marqué.e</h2>
                </div>
                {% for haikuLikedByUser in haikuLikedByUser %}
                    <div class="haiku">
                        <div class="creator">
                            <p>
                                <a href="{{ path('app_user_show', {id: haikuLikedByUser.creator.id}) }}">
                                    {{haikuLikedByUser.creator}}
                                </a>
                            </p>
                        </div>
                        <div class="content">
                            <p>{{haikuLikedByUser.line1}}</p>
                            <p>{{haikuLikedByUser.line2}}</p>
                            <p>{{haikuLikedByUser.line3}}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
</section>    
{% endblock %}
