{% extends 'base.html.twig' %}

{% block title %}Mon profil{% endblock %}

{% block body %}
<section class="user_profile">
    <div class="background_size max-w-site">
        <div class="profile_hero">
            <div class="follow">
                <p>{{followersCount}} abonné.es | {{followsCount}} abonnements</p>
            </div>
            <div class="title">
                <h2>{{app.user.username}}</h2>        
                <p>Description de la cave à faire (gérer controller)</p>
            </div>
        </div>
        {# {% for collection in collections %}
            <a href="">
                <div class="collection_container">
                    <p>{{ collection.name }}</p>
                </div>
            </a>
        {% endfor %} #}
        <div class="user_haiku">
            <div class="title_haiku">
                <h2>Mes Haïkus</h2>
                <p>{{totalHaikus}} haïkus</p>
            </div>
            {% for haiku in haikus %}
                <div class="haiku">
                    <div class="content">
                        <p>{{haiku.content}}</p>
                    </div>
                </div>
                {# Modale affichage haiku + commentaires #}
                <div id="modal-{{haiku.id}}" class="comment-modal" style="display: none">
                    <div class="modal-content">
                        <span class="close_btn" data-modal-id="modal-{{haiku.id}}">&times;</span>
                        <div class="modal_content">
                            <p> Haiku : {{haiku.content}} </p>
                        </div>
                        <div class="comments_container">
                            {% if haiku.comments|length > 0 %}
                                {% for comments in haiku.comments %}
                                    <div class="comment">
                                        <p>{{comments.sender}}</p>
                                        <p>{{comments.content}}</p>
                                        {# Form caché pour suppression #}
                                    <form method="POST" onsubmit="return confirm('Confirmer la suppression ?')" action="{{ path('delete_comment', {'id': comments.id}) }}">
                                        <input type="hidden" name="_method" value="delete"> {#Cette ligne est pour eviter les conflits --> creuser pourquoi quand meme #}
                                        <input type="hidden" name="_token" value=" {{ csrf_token('SUP' ~ comments.id) }}"> 
                                        <input id="delete" type="submit" value="Supprimer">
                                    </form>
                                    </div>
                                {% endfor %}
                            {% else %}
                                <p>Aucun commentaire</p>
                            {% endif %}
                        </div>
                        <div class="add_comments">
                        {# Form lié à l'id de chaque haiku pour en avoir 1 pour chaque  #}
                            <form action="{{ path('app_comment_add', {id: haiku.id}) }}" method="post">
                                {{ form_start(commentForms[haiku.id]) }}
                                    {{ form_row(commentForms[haiku.id].content) }}
                                {{ form_end(commentForms[haiku.id]) }}
                            </form>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>    
{% endblock %}
