{% extends 'base.html.twig' %}

{% block title %}Créer le haïku{% endblock %}

{% block body %}
<main class="login_signup">
    <div class="close_btn max-w-site">
		<a href="{{path('app_feed')}}" class="material-icons">arrow_back</a>
    </div>
    <div class="element_container">
		<div class="title_form">
			<h2>Envoyez trois mots</h2>
		</div>
    </div>
    {{form_start(formWords)}}
        {% for singleWordField in formWords.word %}
            {{ form_row(singleWordField) }}
        {% endfor %}
            {{ form_row(formWords.submit) }}
    {{form_end(formWords)}}
</main>


{% endblock %}
