{% extends 'base.html.twig' %}

{% block title %}Créer le haïku{% endblock %}

{% block body %}
<main class="login_signup">
    <div class="close_btn max-w-site">
		<a href="{{ path('app_user_profile') }}" class="material-icons">arrow_back</a>
	</div>
    <div class="element_container">
		<div class="title_form">
			<h2>Ecrire un haïku</h2>
		</div>
	</div>
    <div class="words_container">
        <div class="words_title">
            <p>Votre inspiration</p>
        </div>
        {% for userWord in userWordsList %}
            <div class="word">
                <p>{{userWord.words.word}}</p>
            </div>
        {% endfor %}
    </div>
    <div class="haiku_form">
        {{form_start(formHaiku)}}
            {{form_row(formHaiku.content)}}
        {{form_end(formHaiku)}}
    </div>
</main>
{% endblock %}
