{% extends 'base.html.twig' %}

{% block title %}Mon feed{% endblock %}

{% block body %}
<section class="feed">
    <div class="background_size max-w-site">
        <div class="feed_title">
            <h2>Fil d'actualités</h2>
            <p>A toi d'écouter. Bonne lecture.</p>
        </div>
        <div class="haiku_container">
            {% for haiku in haikus %}
                <div class="haiku">
                    {# ABSOLUTE #}
                    <span class="material-icons">more_horiz</span>
                    <div class="control_panel">

                    </div>

                    <div class="creator">
                        <p>{{haiku.creator}}</p>
                    </div>
                    <div class="content">
                        <p>{{haiku.content}}</p>
                    </div>
                    <div class="like-comments_container">
                    {# Bouton affichage des commentaires #}
                        <div class="comments" data-haiku-id="{{ haiku.id }}"">
                            <button class="comment-button" data-modal-id="modal-{{haiku.id}}">
                                <i class="material-icons comment-icon"">chat</i>
                            </button>
                        </div>
                        <div class="like">
                        {# Bouton d'envoi du like en BDD + display #}
                            <form action="{{ path('feed_haiku_like', {'id': haiku.id}) }}" method="post">
                                <button type="submit" class="like-button">
                                    <i class="material-icons like-icon 
                                        {{ haiku.id in likedHaikus ? 'liked' : '' }}" 
                                        data-haiku-id="{{ haiku.id }}" 
                                        data-liked="{{ haiku.id in likedHaikus ? 'true' : 'false' }}">
                                            {{ haiku.id in likedHaikus ? 'favorite' : 'favorite_border' }}
                                    </i>
                                </button>
                            </form>
                        </div>
                        {# Affichage du nombre de likes #}
                        <div class="nbr_likes">
                            <p> {{ haiku.getLikesCount() }} J'aime</p>
                        </div>
                    </div>
                </div>
                {# Modale affichage haiku + commentaires #}
            <div id="modal-{{haiku.id}}" class="comment-modal" style="display: none">
                <div class="modal-content">
                    <span class="close_btn" data-modal-id="modal-{{haiku.id}}">&times;</span>
                    <div class="modal_content">
                        <p> Haiku : {{haiku.content}} </p>
                    </div>
                    <div class="comments_container">
                        {% if haiku.comments|length > 0 %}
                            {% for comments in haiku.comments %}
                                <div class="comment">
                                    <p>{{comments.sender}}</p>
                                    <p>{{comments.content}}</p>
                                    {# Form caché pour suppression #}
                                <form method="POST" onsubmit="return confirm('Confirmer la suppression ?')" action="{{ path('delete_comment', {'id': comments.id}) }}">
                                    <input type="hidden" name="_method" value="delete"> {#Cette ligne est pour eviter les conflits --> creuser pourquoi quand meme #}
                                    <input type="hidden" name="_token" value=" {{ csrf_token('SUP' ~ comments.id) }}"> 
                                    <input id="delete" type="submit" value="Supprimer">
                                </form>
                                </div>
                            {% endfor %}
                        {% else %}
                            <p>Aucun commentaire</p>
                        {% endif %}
                    </div>
                    <div class="add_comments">
                    {# Form lié à l'id de chaque haiku pour en avoir 1 pour chaque  #}
                        <form action="{{ path('app_comment_add', {id: haiku.id}) }}" method="post">
                            {{ form_start(commentForms[haiku.id]) }}
                                {{ form_row(commentForms[haiku.id].content) }}
                            {{ form_end(commentForms[haiku.id]) }}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% endfor %}
  
</div>
{% endblock %}
