<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Inclure le token CSRF dans le meta tag pour l'utiliser dans le JavaScript -->
        <meta name="csrf-token" content="{{ csrf_token('ajax') }}">
        
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

    </head>
        {% block header %}
            <header>
                <div class="logo_wrapper">
                    <a href="{{ path(is_granted('ROLE_USER') ? 'app_feed' : 'app_landing') }}">
                        <img src="{{asset('img/logo.svg')}}" alt="Logo de Haikup">            
                    </a>
                </div>
        
                <div class="off_screen_menu">
                    <nav>
                        <ul>
                            {% if is_granted('ROLE_USER') %}
                            <div class="nav_links">
                                <li><a href="{{path('app_feed')}}">Mon Feed</a></li>                        
                            </div>
                            {% endif %}
                            <div class="log_links">
                                {% if is_granted('ROLE_USER') %}
                                    <li><a href="{{ path('app_feed') }}">feed</a></li>
                                    <li><a href="{{ path('app_word_sent') }}">mots</a></li>
                                    <li><a href="{{ path('app_create_haiku') }}">haiku</a></li>
                                    <li><a href="{{ path('app_user_profile') }}">Profil</a></li>
                                    <li><a href="{{path('app_logout')}}">Déconnexion</a></li>
                                {% else %}
                                    <li><a href="path{{('app_signin')}}">Inscription</a></li>
                                    <li><a href="{{path('app_login')}}">Connexion</a></li>
                                {% endif %}
                            </div>
                        </ul>
                    </nav>
                </div>     
                <div class="ham_wrapper">
                    <div class="ham_burger">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
            </header>
        {% endblock %}
    

    
    
    {% block footer %}
        <footer>
            {# TO DO #}
        </footer>
    {% endblock %}
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
