{% extends 'base.html.twig' %}

{% block title %}Haikup{% endblock %}

{% block header %}
    <header>
        <div class="logo_wrapper">
            <a href="{{path('app_landing')}}">
                <img src="{{asset('img/logo.svg')}}" alt="Logo de Haikup">            
            </a>
        </div>
  
        <div class="off_screen_menu">
            <nav>
                <ul>
                    {% if is_granted('ROLE_USER') %}
                    <div class="nav_links">
                        <li><a href="{{path('app_feed')}}">Mon Feed</a></li>                        
                    </div>
                    {% endif %}
                    <div class="log_links">
                        {% if is_granted('ROLE_USER') %}
                            <li><a href="{{path('app_logout')}}">Déconnexion</a></li>
                        {% else %}
                            <li><a href="path{{('app_signin')}}">Inscription</a></li>
                            <li><a href="{{path('app_login')}}">Connexion</a></li>
                        {% endif %}
                        
                    </div>
                </ul>
            </nav>
        </div>     
        <div class="ham_wrapper">
            <div class="ham_burger">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </header>
{% endblock %}

{% block body %}
<section class="hero_container max-w-site">
    <div class="hero">
        <div class="title">
            <h1>Haikup,</h1>
        </div>
        <div class="subtitle">
            <h3>slogan tartine confiture</h3>
        </div>
    </div>
</section>
<section class="concept">
    <div class="title_concept">
        <h2>Le concept</h2>
    </div>
    <div class="card">
        <div class="text_concept">
            <p>Choisissez trois mots qui capturent un fragment de votre réalité, à l’instant même. 
            Transmettez-les à quelqu’un qui les utilisera pour 
            écrire un haïku. À travers ces mots, chacun projette, devine, interprète. 
            Ce qui se joue, c’est une écoute et une construction partagée. 
            Une réalité se façonne, à la croisée de deux regards.</p>
        </div>
        <div class="img_wrapper">
            <img src="" alt="">
            {# temporaire juste en attendant l'image #}
            <p>image</p> 
        </div>       
    </div>
    <div class="cta">
        <a href="{{path('app_signup')}}">Rejoignez-nous</a>
    </div>
</section>
{% endblock %}
